@import "./colorcode";
.dark-mode {
  .list-body {
    max-width: 800px;

    .table-row {
      display: grid;
      grid-template-rows: repeat(minmax(20px, 1fr));
    }
    .table-column {
      list-style-type: none;
      // display: block;
      flex-direction: column;
      padding: 1rem 0rem;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0.5fr;
      //   repeat(7, minmax(80px, 1fr));
      //   grid-column-gap: 2rem;
      //   grid-row-gap: 1rem;
    }

    .table-header {
      font-size: small;
      font-weight: 300;
      color: $color-dark-text-third !important;
    }
    .table-item {
      font-size: small;
      font-weight: 500;
    }
    .table-item:hover {
      background: $color-dark-hover;
    }
    .table-left {
      color: $color-dark-text-first;
    }
    .table-right {
      //   color: $color-dark-text-second;
      text-align: right;
    }
    .table-mid {
      padding-left: 2rem;
    }
    .table-x {
      text-align: right;
      margin-right: 0.5rem;
    }
    .table-x:hover {
      color: $color-stonkdown-first;
    }
    .input-emoji {
      font-size: 300%;
      box-shadow: none;
      cursor: pointer;
      margin-left: -0.5rem;
    }
    .input-emoji:hover {
      outline: none;
      border: none;
      background-color: $color-dark-hover;
      //   padding: 0.5rem;
      border-radius: 0.3rem;
    }
    .input-name {
      background: none;
      box-shadow: none;
      font-size: 200%;
      cursor: pointer;
    }
    .input-name:hover {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: none;
      background-color: $color-dark-hover;
      // border-style: inset;
      // border: 1px solid gray;
      // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

      // transition: 0.5s ease;
    }
    .input-name:focus {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;
      background-color: $color-dark-hover;
      box-shadow: inset 0 0 0 1px $color-dark-highlight;
      // border-style: inset;
      // border: 1px solid gray;
      // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

      // transition: 0.5s ease;
    }
    .input-sub {
      font-size: small;
      color: $color-dark-text-third;
    }
  }

  .list-header {
    .input-items {
      display: flex;
      flex-direction: column;
      //   justify-content: flex-start !important;
      align-self: start;
      align-items: flex-start;
      //   margin: auto;
      .input-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: -0.5rem;
      }
      .deletelist-icon {
        align-self: center;
        color: $color-dark-text-third;
        font-size: 120%;
        transition: all ease 0.3s;
        padding-left: 0.5rem;
      }
      .deletelist-icon:hover {
        color: $color-stonkdown-second;
      }
    }
  }
}
