@import "./colorcode";

.dark-mode {
  .fav-container {
    // position: absolute; ///// solution 1
    position: relative;
    top: 1rem;
    height: 100%; // to lock panel to position absolute

    .fav-list {
      // position: sticky; ///// solution 1
      position: fixed;
      top: 5rem;
      bottom: 2rem;
      overflow: auto;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      // transform: translate(-50%, 0);
      // margin-left: auto;
      // margin-right: auto;
      background-color: $color-dark-hover;
      border-radius: 0.3rem;
      box-shadow: $color-dark-boxshadow;
      border: 1px solid $color-dark-outline;
      width: 276px;
      h4 {
        padding: 1rem 1.5rem;
      }
    }
  }
  .fav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fav-icon {
      padding: 1rem 1.5rem;
      color: lightgray;
      font-size: 150%;
      cursor: pointer;
    }
    .fav-icon:hover {
      color: $color-dark-hover-icon;
      transition: all ease 0.2s;
    }
  }

  .list-container {
    transition: all ease 0.5s;
    // display: flex;
    // flex-direction: column;
    cursor: pointer;
    padding: 0rem;
    .list-header {
      color: $color-dark-text-first;
      display: grid;
      grid-template-columns: 1fr 5fr 1.5fr;
      align-items: center;
      padding: 0rem 1.5rem;
    }
    .list-header:hover {
      background-color: $color-dark-outline;
    }

    // .list-details {
    //   display: flex;
    //   justify-content: space-between;
    //   position: relative;
    // }
    .list-header .facog-hide {
      opacity: 0;
      color: $color-dark-text-third;
      font-size: 120%;
      transition: all ease 0.3s;
    }
    .list-header:hover .facog-hide {
      opacity: 1;
    }
    .facog-hide:hover {
      color: $color-dark-hover-icon;
    }
    .faangle-icon {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-icon:hover {
      color: $color-dark-hover-icon;
    }
    .faangle-down {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-up {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-faded {
      opacity: 1;
      transform: rotateZ(180deg);
      transition: 0.4s;
    }
  }

  .list-stocks {
    transition: opacity 1s;
  }
  .fav-stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    font-size: small;
    list-style-type: none;
    li {
      font-size: small;
    }
    .fav-symbol {
      width: 20%;
      font-weight: 500;
      color: $color-dark-text-first;
    }
    .fav-graph {
      text-align: right;
    }
    .fav-quote {
      width: 30%;
      padding: 0.5rem 0rem;
      text-align: right;
      color: $color-dark-text-first;
      dd {
        padding-top: 0.3rem;
      }
    }
  }
  .fav-stock:hover {
    background-color: $color-dark-outline;
  }
}

.list-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.listedit-shadow {
  width: 100%;
  min-height: 100vh;
  // overflow-y: scroll; // wherever I am on the page, this div pops up right in the middle
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
}

// .listedit-container {
//   position: relative;
//   background: red;
// }
.lists-edit {
  list-style-type: none;
  position: fixed;
  -webkit-transform: translateX(-75%) translateY(25%);
  transform: translateX(-75%) translateY(25%);
  padding: 0.5rem;
  width: 150px;
  border: solid 1px $color-dark-highlight;
  border-radius: 0.5rem;
  background: $color-dark-outline;
  z-index: 22;
  color: $color-dark-text-second;
  font-size: small;
  overflow: hidden;
  box-shadow: $color-dark-boxshadow;
  .list-edit {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
  }
  .edit-icon {
    padding: 0.5rem;
  }
}

// .popupdelete-shadow {
//   width: 100%;
//   min-height: 100vh;
//   // overflow-y: scroll; // wherever I am on the page, this div pops up right in the middle
//   background: rgba(0, 0, 0, 0.2);
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 10;
// }

// .popup-delete {
//   list-style-type: none;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translateX(-100%) translateY(50%);
//   transform: translateX(-100%) translateY(50%);
//   padding: 0.5rem;
//   width: 150px;
//   border: solid 1px $color-dark-highlight;
//   border-radius: 0.5rem;
//   background: $color-dark-outline;
//   z-index: 10;
//   color: $color-dark-text-second;
//   font-size: small;
//   overflow: hidden;
//   box-shadow: $color-dark-boxshadow;
//   .list-edit {
//     display: grid;
//     grid-template-columns: 1fr 4fr;
//     align-items: center;
//   }
// }

.delete-list {
  z-index: 22 !important;
  top: 25% !important;
}

.deleteconfirm-txt {
  padding: 1rem;
  text-align: center;
  color: $color-dark-text-first;
  font-size: 150% !important;
}
.deleteconfirm-listname {
  color: $color-stonkdown-first;
}
.deleteconfirm-buttons {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
  button {
    background: transparent;
    color: $color-stonkdown-first;
    padding: 1rem 2rem;
  }
  button:hover {
    background: $color-stonkdown-third;
  }
  input {
    background: $color-stonkdown-second;
    padding: 1rem 4rem;
  }
  input:hover {
    background: $color-stonkdown-first;
  }
}
.deleteconfirm-button {
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px $color-stonkdown-second;
}
