@import "./colorcode";

.dark-mode {
  .fav-container {
    // position: absolute; ///// solution 1
    position: relative;
    top: 1rem;
    height: 100%; // to lock panel to position absolute

    .fav-list {
      // position: sticky; ///// solution 1
      position: fixed;
      top: 5rem;
      bottom: 2rem;
      overflow: auto;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      // transform: translate(-50%, 0);
      // margin-left: auto;
      // margin-right: auto;
      background-color: $color-dark-hover;
      border-radius: 0.3rem;
      box-shadow: $color-dark-boxshadow;
      border: 1px solid $color-dark-outline;
      width: 276px;
      h4 {
        padding: 1rem 1.5rem;
      }
    }
  }
  .fav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fav-icon {
      padding: 1rem 1.5rem;
      color: lightgray;
      font-size: 150%;
      cursor: pointer;
    }
    .fav-icon:hover {
      color: $color-dark-hover-icon;
      transition: all ease 0.2s;
    }
  }

  .list-container {
    transition: all ease 0.5s;
    // display: flex;
    // flex-direction: column;
    cursor: pointer;
    padding: 0rem;
    .list-header {
      color: $color-dark-text-first;
      display: grid;
      grid-template-columns: 1fr 5fr 1.5fr;
      align-items: center;
      padding: 0rem 1.5rem;
    }
    .list-header:hover {
      background-color: $color-dark-outline;
    }

    // .list-details {
    //   display: flex;
    //   justify-content: space-between;
    //   position: relative;
    // }
    .list-header .facog-hide {
      opacity: 0;
      color: $color-dark-text-third;
      font-size: 120%;
      transition: all ease 0.3s;
    }
    .list-header:hover .facog-hide {
      opacity: 1;
    }
    .facog-hide:hover {
      color: $color-dark-hover-icon;
    }
    .faangle-icon {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-icon:hover {
      color: $color-dark-hover-icon;
    }
    .faangle-down {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-up {
      color: $color-dark-text-second;
      font-size: 150%;
      transition: 0.4s;
    }
    .faangle-faded {
      opacity: 1;
      transform: rotateZ(180deg);
      transition: 0.4s;
    }
  }

  .list-stocks {
    transition: opacity 1s;
  }
  .fav-stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    font-size: small;
    list-style-type: none;
    li {
      font-size: small;
    }
    .fav-symbol {
      width: 20%;
      font-weight: 500;
      color: $color-dark-text-first;
    }
    .fav-graph {
      text-align: right;
    }
    .fav-quote {
      width: 30%;
      padding: 0.5rem 0rem;
      text-align: right;
      color: $color-dark-text-first;
      dd {
        padding-top: 0.3rem;
      }
    }
  }
  .fav-stock:hover {
    background-color: $color-dark-outline;
  }
}

.list-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}
// .listedit-shadow {
//   width: 100%;
//   min-height: 100vh;
//   // overflow-y: scroll; // wherever I am on the page, this div pops up right in the middle
//   background: rgba(0, 0, 0, 0);
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 10;
// }

.list-edit {
  position: fixed;
  margin-left: 1.5rem;
  margin-top: 2rem;
  // top: 50%;
  // left: 50%;
  -webkit-transform: translateX(-100%) translateY(0%);
  transform: translateX(-100%) translateY(0%);
  width: 200px;
  border-radius: 0.8rem;
  background: $color-dark-background;
  z-index: 10;
  color: black;
  overflow: hidden;
  box-shadow: $color-dark-boxshadow;
  max-height: 600px;
}
